body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ece9fe;
}

header {
    position: sticky;
    top: 0;
    font-family: "Atma", serif;
    font-weight: 600;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007BFF;
    padding: .5rem 2rem;
    color: white;
}

header h1 {
    margin: 0;
}

header button {
    background-color: white;
    color: #007BFF;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

header button:hover {
    background-color: #0056b3;
    color: white;
}

main {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.blog-container {
    width: 1000px;
    max-height: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.blog-container:hover {
    transform: scale(1.05);
}

.blog-container h2 {
    font-family: "Karla", serif;
    margin: 0 0 0.5rem;
    font-size: 1.5rem;
    color: #333;
}

.blog-container p {
    margin: 0;
    font-family: "Lora", serif;
    font-size: .8rem;
    color: #555;
    display: -webkit-box;
    -webkit-line-clamp: 4; /*  Show 3 lines before truncating */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}